<h1>Dashboard for jenkins junit jobs</h1>
<p>Currently under development</p>
<div id="chart" style="width: auto; height: 1000px;"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<%= javascript_tag do -%>


google.charts.load('current', {'packages': ['corechart']});
google.charts.setOnLoadCallback(drawChart);

var unames = <%=  raw @jobs_uniq_name.to_json %>
var results = <%=  raw @ordered_tests_result_by_jobname.to_json %>
var data = [];
function drawChart() {
    for (var i = 0; i < unames.length; i++) {
       data[i] =  new google.visualization.DataTable();
    }

    for (var i = 0; i < unames.length; i++) {
      data[i].addColumn('number', 'timestamp');
      data[i].addColumn('number', unames[i]['name']);
    }
    for (var i = 0; i < unames.length; i++) {
      var job_name = unames[i]['name']
      // fixme iterate over this
      var build_timestamp = results[job_name][0]
      var tests_failed = results[job_name][1]
      alert(build_timestamp)
      data[i].addRows(build_timestamp, tests_failed)
    }

    var joinedData = google.visualization.data.join(data[0], data[1], 'full', [[0, 0]], [1], [1]);
    var chart = new google.visualization.LineChart(document.querySelector('#chart'));
    chart.draw(joinedData, {
        interpolateNulls: true
    });
}

<% end -%>
