<h1>Dashboard for jenkins junit jobs</h1>
<p>Currently under development</p>
<div id="chart" style="width: auto; height: 1000px;"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<%= javascript_tag do -%>


google.charts.load('current', {'packages': ['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
    var data1 = new google.visualization.DataTable();
    var data2 = new google.visualization.DataTable();
    var unames = <%=  raw @jobs_uniq_name.to_json %>
    var results = <%=  raw @ordered_tests_result_by_jobname.to_json %>

 
    data1.addColumn('number', 'timestamp');
    data2.addColumn('number', 'timestamp');
    data1.addColumn('number', unames[0]['name']);
    data2.addColumn('number', unames[1]['name']);
    data1.addRows([
      [1, 500],
      [8, 950],
      [11, 1000]
    ]);
    
    // build-tim, tests-results
    data2.addRows([
      [23, 800],
      [4, 600],
      [5, 300],
      [300, 500]
    ]);
    
    var joinedData = google.visualization.data.join(data1, data2, 'full', [[0, 0]], [1], [1]);
    
    var chart = new google.visualization.LineChart(document.querySelector('#chart'));
    chart.draw(joinedData, {
        interpolateNulls: true
    });
}

<% end -%>
