<h1><center>Dashboard for jenkins job results</center></h1>
<p><center> tests results are ordered chronologically </center></p>
<div style="width:85%;">
		<canvas id="jenkins_datetime_failure_linechart"></canvas>
</div>

<%= javascript_tag do %>
// get unique job names jenkins
var unames = <%=  raw @jobs_uniq_name.to_json %>
// results are ordered by timestamp
var results = <%=  raw @ordered_tests_result_by_jobname.to_json %>
var all_jenk_jobs = [];
var linechartjenkins = document.getElementById("jenkins_datetime_failure_linechart");


for (var k = 0; k < unames.length; k++) {
 var job = {};
 job['label'] = unames[k]['name'];
 job['fill'] = true;
 job['data'] = jenkins_datetime_and_failure_to_linechart_axis(unames[k]['name']);
 job['backgroundColor'] = getRandomColor();
 job['borderColor'] = getRandomColor();
 all_jenk_jobs.push(job);
}

var linechart = new Chart(linechartjenkins, {
    type: 'line',
    data: { datasets: all_jenk_jobs },
		options: option_jenkins_linechart
	 });

<% end -%>
