<h1><center>Dashboard for jenkins job results</center></h1>
<p><center> tests results are ordered chronologically </center></p>
<div style="width:85%;">
		<canvas id="canvas"></canvas>
</div>

<%= javascript_tag do %>

var unames = <%=  raw @jobs_uniq_name.to_json %>
var results = <%=  raw @ordered_tests_result_by_jobname.to_json %>
var all_jenk_jobs = [];
var ctx = document.getElementById("canvas");


for (var k = 0; k < unames.length; k++) {
 var job = {};
 job['label'] = unames[k]['name'];
 job['fill'] = true;
 job['data'] = get_jenkins_data(unames[k]['name']);
 job['backgroundColor'] = getRandomColor();
 job['borderColor'] = getRandomColor();
 all_jenk_jobs.push(job);
}

var linechart = new Chart(ctx, {
    type: 'line',
    data: { datasets: all_jenk_jobs
		},
    options: {
			legend: {
				position: 'right',
				labels: {
						fontColor: 'black',
						fontSize: 20
				}
		},
        scales: {
					  yAxes: [{
							ticks: {
							fontSize: 20,
						},
					 	 scaleLabel: {
							display: true,
							labelString: 'tests failures',
							fontSize: 35
				   	}
				}],
            xAxes: [{
							type: 'time',
							distribution: 'series',
								scaleLabel: {
								display: true,
								labelString: 'datetime',
								fontSize: 35
							},
                position: 'bottom',
								ticks: {
                fontSize: 15
            }
            }]
        }
    }
});
function get_jenkins_data(job_name) {

	var all_data = [];
	for (var j = 0; j < results[job_name].length; j++)
    {
		// TODO: replace with hash
		// 0: build_timestamp, 1 results_tests, 2 datetime
			var jdata = {};
      jdata['x'] = results[job_name][j][2];
    	jdata['y'] = results[job_name][j][1];
		  all_data.push(jdata);
		}
	//	alert(JSON.stringify(results));
	//	alert(JSON.stringify(all_data));
    return all_data;
}


<% end -%>
